body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e2d8ea;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

/* container style */

.cont{
    border: 1px solid #fff;
    width: 80%;
    margin: 0 auto;
}

.container{
    max-width: 500px;
    margin: 20px auto;
}



.container-item{
    border: 1px solid #641fa4;
    border-radius: 5px;
}

.text{
    display: none;
    font-size: 14px;
    padding: 10px 15px;
}

/* #text4{ 
    display: block;
}
#title4{
    background-color: rgb(198, 135, 204);
} */

.title{
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 10px 15px;
}



#plus, #cross{ 
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.cont:hover #plus{
    display: block;
}


/* при наведении мышки добавлять цвет и плавный переход + замедление*/
.title:hover {
    transition: background 2s ease-out;
    color: #641fa4;
} 



.container-input{
    appearance: none; 
    position: absolute;
    width: 0px;
    height: 0px;
}

.title:checked #plus{
    display: none;
}

.title:checked #cross{
    display: block;
}


/* HOVER OVER ITEMS STARTS */
#container5 ~ .text{
    display: none;
}
#container5:hover ~ .text{
    display: block;
}
#container5:checked ~ .text{
    display: block;
}

#container4 ~ .text{
    display: none;
}
#container4:hover ~ .text{
    display: block;
}
#container4:checked ~ .text{
    display: block;
}

#container3 ~ .text{
    display: none;
}
#container3:hover ~ .text{
    display: block;
}
#container3:checked ~ .text{
    display: block;
}

#container2 ~ .text{
    display: none;
}
#container2:hover ~ .text{
    display: block;
}
#container2:checked ~ .text{
    display: block;
}

#container1 ~ .text{
    display: block;
}
#container1:hover ~ .text{
    display: block;
}
#container1:checked ~ .text{
    display: none;
}

/* HOVER OVER ITEMS END */



.container-input:hover ~ .title{
    background-color: rgb(198, 135, 204);
}
.container-input:checked ~ .title{
    background-color: rgb(45, 10, 48);
    
}

.container-input:checked ~ .title #plus{
    display: none;
}
.container-input:checked ~ .title #cross{
    display: block;
}

.container-input:hover ~ .title #plus{
    display: none;
}
.container-input:hover ~ .title #cross{
    display: block;
}


.img1{
    display: block;
    margin: 0 auto;
}
.img2{
    display: block;
    margin: 0 auto;
}
.img3{
    display: block;
    margin: 0 auto;
}
.img4{
    display: block;
    margin: 0 auto;
}
.img5{
    display: block;
    margin: 0 auto;
}

