body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e2d8ea;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

/* container style */

.cont{
    border: 1px solid #fff;
    width: 80%;
    margin: 0 auto;
}

.container{
    max-width: 500px;
    margin: 20px auto;
}



.container-item{
    border: 1px solid #641fa4;
    border-radius: 5px;
}

.text{
    display: none;
    font-size: 14px;
    padding: 10px 15px;
}

#text1{
    display: block;
}
#title1{
    background-color: rgb(198, 135, 204);
}

.title{
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 10px 15px;
}



/* .title::after {  
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #53ad68 
    transparent transparent transparent;
    transform: translateY(-50%);

    position: absolute;
    top: 50%;
    right: 15px;
} */

#plus, #cross{ 
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.cont:hover #plus{
    display: block;
}


/* при наведении мышки добавлять цвет и плавный переход + замедление*/
.title:hover #plus {
    transition: background 2s ease-out;
    color: #641fa4;
    display: block;
}


.container-input{
    appearance: none; 
    position: absolute;
    width: 0px;
    height: 0px;
}

.title:checked #plus{
    display: none;
}

.title:checked #cross{
    display: block;
}


/* START DEFAULT OPENED CONT */


.container-input:checked ~ .text{
    display: block;
}
.container-input:checked ~ #text1{
    display: none;
}

.container-input:checked ~ #title1{
    background-color: transparent;
}

.container-input ~ #title1 #plus{
    display: none;
}
.container-input ~ #title1 #cross{
    display: block;
}
.container-input:checked ~ #title1 #cross{
    display: none;
}



.container-input:checked ~ #title1 #plus{
    display: block;
}

/* END DEFAULT OPENED CONT */

.container-input:checked ~ .title{
    background-color: rgb(198, 135, 204);
}
.container-input:checked ~ .title #plus{
    display: none;
}
.container-input:checked ~ .title #cross{
    display: block;
}


.img1{
    display: block;
    margin: 0 auto;
}
.img2{
    display: block;
    margin: 0 auto;
}
